#parent img{position:absolute; top: 0; right: 100px;z-index: 12;right: 100;z-index: 9}
#two	img{position:absolute; top: 50px; right: 50px;z-index: 12;right: 100;width:400px;height: 400px;z-index: 12}